<?xml version="1.0"?>

<robot name="sam_bot" xmlns:xacro="http://ros.org/wiki/xacro">
<!-- Definicion de constantes del robot -->
  <xacro:property name="base_width" value="0.31"/>
  <xacro:property name="base_length" value="0.42"/>
  <xacro:property name="base_height" value="0.18"/>

  <xacro:property name="wheel_radius" value="0.10"/>
  <xacro:property name="wheel_width" value="0.04"/>
  <xacro:property name="wheel_ygap" value="0.025"/>
  <xacro:property name="wheel_zoff" value="0.05"/>
  <xacro:property name="wheel_xoff" value="0.12"/>

  <!-- Base del robot -->
  <link name="base_link">
    <visual>
      <geometry>
        <box size="${base_length} ${base_width} ${base_height}"/>
      </geometry>
      <material name="Cyan">
        <color rgba="0 1.0 1.0 1.0"/>
      </material>
    </visual>
  </link>

  <!-- Robot Footprint,  set base_footprint to be at -->
  <!-- ground plane when projected from the center of the main chassis-->
  <link name="base_footprint"/>

  <joint name="base_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_footprint"/>
    <origin xyz="0.0 0.0 ${-(wheel_radius+wheel_zoff)}" rpy="0 0 0"/>
  </joint>

  <!-- Macro para ruedas traseras (impulsoras) -->
  <xacro:macro name="rear_wheel" params="prefix x_reflect y_reflect">
    <link name="${prefix}_link">
      <visual>
        <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
        <geometry>
          <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
        </geometry>
        <material name="Gray">
          <color rgba="0.5 0.5 0.5 1.0"/>
        </material>
      </visual>
    </link>

    <joint name="${prefix}_joint" type="continuous">
      <parent link="base_link"/>
      <child link="${prefix}_link"/>
      <origin xyz="${x_reflect * wheel_xoff}" y="${y_reflect * (base_width / 2 + wheel_ygap)}" z="${-wheel_zoff}" rpy="0 0 0"/>
      <axis xyz="0 1 0"/> <!-- Permite la rotación en el eje Y para el movimiento-->
    </joint>
  </xacro:macro>

  <!-- Macro para ruedas delanteras (directrices) con dos juntas -->
  <xacro:macro name="front_wheel" params="prefix x_reflect y_reflect">
    <link name="${prefix}_steering_link"/>

    <!-- Link de la rueda -->
    <link name="${prefix}_link">
      <visual>
        <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
        <geometry>
          <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
        </geometry>
        <material name="Gray">
          <color rgba="0.5 0.5 0.5 1.0"/>
        </material>
      </visual>
    </link>

    <!-- Joint para permitir la dirección en el eje Z -->
    <joint name="${prefix}_steering_joint" type="revolute">
      <parent link="base_link"/>
      <child link="${prefix}_steering_link"/>
      <origin xyz="${x_reflect * wheel_xoff}" y="${y_reflect * (base_width / 2 + wheel_ygap)}" z="${-wheel_zoff}" rpy="0 0 0"/>
      <axis xyz="0 0 1"/> <!-- Eje Z para girar la dirección-->
      <limit effort="10.0" velocity="1.0" lower="-0.5" upper="0.5"/>
    </joint>


    <!-- Joint para permitir que la rueda gire en el eje Y -->
    <joint name="${prefix}_joint" type="continuous">
      <parent link="${prefix}_steering_link"/>
      <child link="${prefix}_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <axis xyz="0 1 0"/> <!-- Eje Y para la rotación de la rueda-->
    </joint>
  </xacro:macro>

  <!-- Ruedas traseras (impulsoras) -->
  <xacro:rear_wheel prefix="drivewhl_l" x_reflect="-1" y_reflect="1"/>
  <xacro:rear_wheel prefix="drivewhl_r" x_reflect="-1" y_reflect="-1"/>

  <!-- Ruedas delanteras (directrices) -->
  <xacro:front_wheel prefix="steerwhl_l" x_reflect="1" y_reflect="1"/>
  <xacro:front_wheel prefix="steerwhl_r" x_reflect="1" y_reflect="-1"/>
</robot>
</robot>